@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Hanging_man_words {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: rgb(255, 252, 254);
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  max-width: 900px;
  margin: 0 auto;
}

header {
  background-color: rgb(150, 0, 204);
  color: #fff;
  padding: 10px;
  text-align: center;
}

header > p {
  margin: 1em;
}

.header_meny {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0.4rem;
  border-bottom: 1px solid black;
}

.letterButton{
  font-size: 2em;
  padding: 0.5em;
  border-radius: 10px;
}

.scoreboard,
.nameH1Btn,
.pvp {
  font-size: 1.5em;
  border-radius: 9px;
  cursor: pointer;
  background-color: rgb(150, 0, 204);
  padding: 0.5em;
  margin-bottom: 0.5em;
  color: white;
}
.scoreboard:hover,
.nameH1Btn:hover,
.pvp:hover {
  background-color: rgb(13, 250, 13);
  color: black;
}
input > checkbox{
  border-radius: 9px;
  cursor: pointer;
  background-color: rgb(150, 0, 204);
  padding: 0.5em;
  margin-bottom: 0.5em;
  color: white;
}


main {
  padding: 10px;
  flex-wrap: wrap;
}

footer {
  padding: 5px 10px;
  border-top: 1px solid #666;
  margin-top: 20px;
  color: #333;
  font-size: 0.8em;
  font-style: italic;
  text-align: end;
}

#startGameBtn {
  font-size: 1.5em;
  border-radius: 9px;
  cursor: pointer;
  background-color: rgb(150, 0, 204);
  padding: 0.5em;
  margin-bottom: 0.5em;
  color: white;
}
#startGameBtn:hover {
  background-color: rgb(13, 250, 13);
  color: black;
}

#gameBoard {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
}

#letterButtons {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
#letterButtons button {
  font-size: 1.5em;
  width: 3em;
  height: 2em;
  margin: 4px;
  border-radius: 10px;
  cursor: pointer;
}
#letterButtons button:hover {
  background-color: rgb(250, 192, 255);
}

.gamespace {
  width: 100%;
  padding-top: 20px;
  text-align: center;
}
.gamespace .box {
  display: inline-block;
  font-size: 1.5em;
  width: 2em;
  line-height: 2em;
  margin: 4px;
  border: 1px solid #666;
  background-color: #fff;
  text-align: center;
}

#message {
  padding-top: 20px;
  font-size: 1.5em;
}

@media screen and (max-width: 700px) {
  .hangmanPic > svg {
    width: 401px;
    height: 400px;
  }
}
@media screen and (max-width: 470px) {
.scoreboard,
.nameH1Btn,
.pvp {
  font-size: 1em;
  border-radius: 9px;
  margin: 0 0.2em 0 0;
  padding: 0.3em;

}
  .hangmanPic > svg {
    width: 201px;
    height: 300px;
  }
  .hangmanPic > svg {
    width: 251px;
    height: 300px;
  }

  #startGameBtn {
    font-size: 1em;
    border-radius: 9px;
    cursor: pointer;
    background-color: rgb(150, 0, 204);
    padding: 0.5em;
    margin-bottom: 0.5em;
    color: white;
  }
  #letterButtons button {
    font-size: 1em;
    width: 2em;
    height: 2em;
    margin: 4px;
    border-radius: 10px;
    cursor: pointer;
    float: left;
  }
  header > h1 {
    font-size: 15px;
  }

  header > p {
    margin-top: 1em;
    font-size: 10px;
  }
}

@media screen and (max-width: 310px) {
  .hangmanPic > svg {
    width: 151px;
    height: 200px;
  }
 
}
/* tilllagd med javascript */
.invisible{

  visibility: hidden;
}


